* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}
.col-1 {
  background: #d7e8d4;
  flex: 1;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.content article {
  display: flex;
  flex-direction: row;
}
.content article > main {
  flex: 3;
}

.content > article.mainContent {
  min-height: 60vh;
}

.content article > aside {
  background: beige;
  flex: 1;
}

.content article.mainContent {
  padding: 0;
}

header,
footer {
  background: yellowgreen;
  height: 20vh;
}
header,
footer,
article,
nav,
aside {
  padding: 1em;
}

.col-1 article.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.col-1 article.sidebar a.active {
  background-color: blue;
  color: #fff;
}

.col-1 article.sidebar a.notActive {
  background-color: #fff;
  color: #4caf50;
}

.col-1 article.sidebar a.navigationIcon {
  padding: 20px 60px;
  margin-bottom: 40px;
}

.col-1 article.sidebar svg {
  text-align: center;
  margin: 20px 0;
}

div.navigationIcon svg:hover {
  cursor: pointer;
  color: #4caf50;
}

div.navigationIcon {
  background-color: #fff;
  padding: 20px 60px;
  margin-bottom: 40px;
}

article.blogEntry {
  border: black solid 1px;
  display: flex;
  flex-direction: column;
}

section div.blogEntries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: minmax(50px, 100px); */
  grid-gap: 2rem;
  margin: 2rem 1rem;
}

aside article.blogPreview {
  display: flex;
  flex-direction: column;
}
aside article.blogPreview div.data {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

aside article.blogPreview h2.blogPreviewTitle {
  margin: 1rem;
}
aside article.blogPreview img.blogImagePreview {
  max-width: 100%;
  border-radius: 1rem;
}
aside article.blogPreview div.information div.informationFlex {
  display: flex;
  flex-direction: row;
}
aside article.blogPreview div.information div.informationFlex p {
  padding-right: 1rem;
}
aside article.blogPreview div.openButton button {
  background-color: red;
  border: none;
  padding: 1rem 3rem;
  width: 100%;
  color: white;
  margin-top: 1rem;
  border-radius: 1rem;
}
aside article.blogPreview div.openButton button:hover {
  cursor: pointer;
}
main.content article.mainContent div.blogEntry {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}
main.content article.mainContent div.blogEntry div.content {
  padding: 0 1rem;
  width: 100%;
}
main.content article.mainContent div.blogEntry button {
  flex-grow: 1;
}
